
# Ignore hidden files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store

# Ignore some folders
admin/
drafts/

# Hide Google Maps API key
data/landings/pacfin/ggmap_api_key.R

# Ignore large raw data
data/landings/cdfw/public/raw
data/landings/cdfw/public/intermediate
data/landings/swfsc/raw
data/landings/odfw/public

# Ignore confidential data
data/landings/cdfw/confidential
data/landings/odfw/confidential
data/landings/wdfw/confidential
data/landings/mexico/datamares/confidential